/* Blog */
.blogIcon{
  padding-bottom: 3%;
}

.moreInfo{
  font-size: 1.2rem;

}

li{
  align-self: flex-start;
}

/* Recent Events */

#recentEvents{
  background-image: url('../images/recentBG.gif');
}

.blog-w3layouts{
  padding: 0;
}
.pad{
  padding-left: 10%;

}

.dap{
  padding-top: 10%;
}

li{
  padding-bottom: 13px;
}

.upcoming{
  background-color: #eaeaea;
}

.recentPg{
  font-size: 3rem;
  color: #eaeaea;
  text-align: right;
  padding: 0 10% ;
}

.pgRoute{
  color: #eaeaea;
}
.pgRoute:hover{
  color:#e23e57;
  text-decoration: none;
}

.txtUpcomming{
  color: #212121;
}

/* Annual Report */
#annualReport{
  background-color: #000;
  padding-bottom: 5%;
  text-align: center;
}

#panel1, #panel2, #panel3{
  display: none;
  font-size: 1.8rem;
  padding-right: 10%;
}
.spacing{
  padding-left: 2%;
  padding-bottom: 20px;
}
.annual{
  background-color: #000;
}
.yr{
  padding-bottom: 2%;
}
.fullReport{
  padding-top: 15px;
  color: red;
  text-decoration: none;
}

.fullReport:hover{
  text-decoration: none;
}

/* Contact */
#contact {
  background-image: url('../images/contactBG.gif');
}

.send {
  font-family: 'Josefin Sans';
}

/* Footer */
#footer {
  padding: 2% 15%;
  text-align: center;
  background-color: #000;
}

.bottom-icon {
  font-size: 3rem;
  color: #fff;
  margin: 10px;
}

.bottom-icon:hover {
  color: #8f8f8f;
}

.footer-link {
  color: #4FABC1;
}

.footer-link:hover {
  color: #EA3C56;
  text-decoration: none;
}

.backtop{
  border-radius: 25px ;
  height: 50px ;
  width: 50px ;
}
/* ________________________________________________________________________________ */
.medical {
    font-family: 'Hind', sans-serif!important;
    font-size: 15px;
}
display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 7px 14px;
    margin: 5px auto 0 auto;
    background: #333;
    color: #eee;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    padding: 3rem 0 0;
    display: inline-block;
    position: relative;
    background-color: #026aab;
    width: 100%;
    margin-top: -1px;
}

#sb_instagram .sbi_follow_btn {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    text-align: center;
}


@media (min-width:771px) {
  .cr {
    align-content: space-between;
  }

  .spaceIcons {
    padding-right: 30%;
  }

  .spaceCopyright {
    padding-left: 20%;
  }
}
